.navbar-container {
  height: 60px;

  @media only screen and (max-width: $phone) {
    height: 50px;
  }

  &__wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $phone) {
      padding: 10px 0;
    }

    .left {
      flex: 1;
      display: flex;
      align-items: center;

      .hamburger-container {
        display: none;
        cursor: pointer;
        z-index: 20;
        margin-left: 15px;
        transition: 0.25s ease-in;

        @media (max-width: $phone) {
          display: block;
        }
      }

      .hamburger-rest {
        width: 16px;
        height: 15px;
        background-image: url(../../../public/images/icon-menu.svg);
      }

      .hamburger-active {
        width: 14px;
        height: 15px;
        background-image: url(../../../public/images/icon-close.svg);
      }

      .menu-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 0;
        padding: 0;
        transition: 0.3 ease;

        @media only screen and (max-width: $phone) {
          background-color: white;
          position: fixed;
          top: 0;
          left: -100%;
          height: 100vh;
          width: 40vw;
          max-width: 300px;
          transition: 0.5s ease-in-out;
          z-index: 10;
          flex-direction: column;
          gap: 30px;
          padding-top: 120px;
          padding-left: 25px;
        }

        li {
          list-style: none;
          position: relative;

          .menu-list-item {
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            color: black;
            font-size: 15px;

            &::after {
              @include underline-hover;
              @media (max-width: $phone) {
                display: none;
              }
            }
            &:hover::after {
              width: 100%;
              left: 0;
            }
          }

          .nav-active {
            @include nav-active;
          }
        }
      }

      .show-menu {
        @media only screen and (max-width: $phone) {
          left: 0;
        }
      }
    }

    .logo {
      text-decoration: none;
      color: black;

      .center {
        flex: 1;
        text-align: center;

        h1 {
          font-weight: bold;

          @media only screen and (max-width: $phone) {
            font-size: 24px;
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media only screen and (max-width: $phone) {
        justify-content: flex-end;
        margin-right: 15px;
      }

      .menu-item {
        font-size: 14px;
        cursor: pointer;
        margin-left: 25px;
        text-decoration: none;
        color: black;
        position: relative;

        @media only screen and (max-width: $phone) {
          margin-left: 10px;
          font-size: 11px;
        }

        &::after {
          @include underline-hover;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
      }

      .menu-item-cart {
        margin-left: 50px;
        color: black;

        @media only screen and (max-width: $phone) {
          margin-left: 5px;
          transform: scale(0.8);
        }
      }

      .nav-active {
        @include nav-active;
      }

      .logged-in {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;

        @media only screen and (max-width: $phone) {
          gap: 2px;
          font-size: 12px;
        }

        p {
          span {
            font-weight: 700;
          }
        }

        .log-out {
          cursor: pointer;
          transform: scale(0.9);
          transition: 0.4s ease;
          opacity: 0.6;

          &:hover {
            transform: scale(0.94);
            opacity: 0.85;
          }

          @media only screen and (max-width: $phone) {
            transform: scale(0.65);
          }
        }

        .log-out-popup {
          opacity: 0;
          position: absolute;
          border: 1px solid black;
          border-radius: 2px;
          background-color: white;
          top: 30px;
          right: -20px;
          font-size: 12px;
          padding: 3px 6px;
          transition: 0.3s ease;
          z-index: 10;
        }

        .log-out-popup__visible {
          opacity: 0.9;
        }
      }
    }
  }
}

//darken the body when menu is open on small screens
.layer-dim {
  @media (max-width: $phone) {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    left: 0;
    top: 0;
    z-index: 5;
  }
}
